In [48]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, DoubleType, DateType, TimestampType
import pyspark.sql.functions as spfunc 

spark = SparkSession.builder\
        .master("local")\
            .appName("Testing")\
                .getOrCreate()



df = spark.read.csv("csv/Netflix Dataset.csv", header=True, inferSchema=True)

print(df.printSchema())

df.show()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

None
+----------+--------+--------+--------+--------+---------+---------+
|      Date|    Open|    High|     Low|   Close|Adj Close|   Volume|
+----------+--------+--------+--------+--------+---------+---------+
|2002-05-23|1.156429|1.242857|1.145714|1.196429| 1.196429|104790000|
|2002-05-24|1.214286|   1.225|1.197143|    1.21|     1.21| 11104800|
|2002-05-28|1.213571|1.232143|1.157143|1.157143| 1.157143|  6609400|
|2002-05-29|1.164286|1.164286|1.085714|1.103571| 1.103571|  6757800|
|2002-05-30|1.107857|1.107857|1.071429|1.071429| 1.071429| 10154200|
|2002-05-31|1.078571|1.078571|1.071429|1.076429| 1.076429|  8464400|
|2002-06-03|    1.08|1.149286|1.076429|1.128571| 1.128571|  3151400|
|2002-06-04|1.135714|    1.14|1.110714|1.117857| 1.117857|  3105200|
|2002-06-05|1.110714|1.159286|1.107143|1.147143| 1.147143|  1531600|
|2002-06-06|    1.15|1.232143|1.148571|1.182143| 1.182143|  2305800|
|2002-06-07|1.177857|1.177857|1.103571|1.118571| 1.118571|  1369200|
|2002-06-10|   1.135|   1.175|1.134286|1.156429| 1.156429|   484400|
|2002-06-11|1.156429|1.188571|1.128571|1.153571| 1.153571|  1003800|
|2002-06-12|1.153571|1.182143|1.089286|1.092857| 1.092857|  1799000|
|2002-06-13|1.104286|1.122143|    1.08|1.082857| 1.082857|  2567600|
|2002-06-14|1.082143|1.085714|    0.98|0.986429| 0.986429|  4783800|
|2002-06-17|1.013571|1.059286|0.917857|0.922143| 0.922143|  4855200|
|2002-06-18|0.938571|0.939286|0.842143|0.910714| 0.910714| 10808000|
|2002-06-19|0.911429|0.996429|0.892857|0.951429| 0.951429|  5482400|
|2002-06-20|0.971429|    1.04|    0.95|0.957143| 0.957143|  6111000|
+----------+--------+--------+--------+--------+---------+---------+
only showing top 20 rows

In [49]:
output = df.select(df.Date\
                    ,df.Open, df.Volume)\
        .where(df.Open < 1.15)\
        .orderBy(df.Date)

In [50]:
print("Df count: ", df.count())

print("Output count: ",output.count())

Df count:  5540
Output count:  180

In [51]:
output.createOrReplaceTempView("output")

In [53]:
spark.sql("select Date, Open from output").show()

+----------+--------+
|      Date|    Open|
+----------+--------+
|2002-05-30|1.107857|
|2002-05-31|1.078571|
|2002-06-03|    1.08|
|2002-06-04|1.135714|
|2002-06-05|1.110714|
|2002-06-10|   1.135|
|2002-06-13|1.104286|
|2002-06-14|1.082143|
|2002-06-17|1.013571|
|2002-06-18|0.938571|
|2002-06-19|0.911429|
|2002-06-20|0.971429|
|2002-06-21|0.982143|
|2002-06-24|0.979286|
|2002-06-25|0.988571|
|2002-06-26|0.963571|
|2002-06-27|1.009286|
|2002-06-28|0.960714|
|2002-07-01|     1.0|
|2002-07-02|1.053571|
+----------+--------+
only showing top 20 rows